{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'student/css/student.css' %}">
{% endblock %}



{% block 'body' %}

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}<form method="POST">
    {% csrf_token %}
    <div>
        <h3>Selecione as turmas</h3>
        {% for class in classes %}
            <div>
                <input type="checkbox" id="class_{{ class.id }}" name="classes" value="{{ class.id }}">
                <label for="class_{{class.id }}">{{ class.subject.name }}</label>
                <label for="class_{{class.id }}">{{ class.professor.name }}</label>
                <label for="class_{{class.id }}">Sala: {{ class.classroom }}</label><br>

                <label for="class_{{class.id }}">Dias: 
                    {% for day in class.days_of_week.all %}
                        {{ day.get_name_display }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </label><br>

                <label for="class_{{class.id }}">Horário: {{ class.start_time }} - {{ class.end_time }}</label>
            </div>
        {% endfor %}
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn btn-primary">Matricular-se</button>
        <a href="{% url 'student_home' %}" class="btn btn-primary">Voltar</a>
    </div>
</form>
{% endblock %}