
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<form method="POST">
    {% csrf_token %}
    <div>
        <h3>Selecione as turmas</h3>
        {% for class in classes %}
            <div>
                <input type="checkbox" id="class_{{ class.id }}" name="classes" value="{{ class.id }}">
                <label for="class_{{class.id }}">{{ class.subject.name }}</label>
                <label for="class_{{class.id }}">{{ class.professor.name }}</label>
                <label for="class_{{class.id }}">Sala: {{ class.classroom }}</label><br>

                <label for="class_{{class.id }}">Dias: 
                    {% for day in class.days_of_week.all %}
                        {{ day.get_name_display }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </label><br>

                <label for="class_{{class.id }}">Horário: {{ class.start_time }} - {{ class.end_time }}</label>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Matricular-se</button>
</form>
