<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sistema de Gestão Acadêmica para alunos.">
        <meta name="keywords" content="gestão acadêmica, matrícula, histórico escolar">
        <meta name="author" content="SysCad">
        <title>Menu Principal - SysCad</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'student/css/home.css' %}">
    </head>
    <body>
        <!-- Header section -->
        <header class="header">
            <img src="{% static 'student/images/uece-logo.png' %}" alt="Example Image">

            <p>Bem-vindo, {{ student.get_first_name }} </p>
        </header>

        <nav class="navigation-bar">
            <ul>
                <li><a href="{% url 'class_enrollment' %}">Realizar Matrícula</a></li>
                <li><a href="{% url 'remove_classes' %}">Trancar Disciplinas</a></li>
                <li><a href="{% url 'student_history' %}">Histórico Escolar</a></li>
                <li><a href="#grade">Grade Curricular</a></li>
                <li><a href="{% url 'edit_student' %}">Dados Pessoais</a></li>
            </ul>
        </nav>

        <main>
            <section class="enrolled-subjects">

                <h3 class="title">Disciplinas matriculadas</h3>

                <table id="student-info-table">
                    <tbody>
                        <tr>
                            <td class="bold">Curso:</td>
                            <td class="uppercase">{{ student.course.name }}</td>
                        </tr>
                        <tr>
                            <td class="bold">Aluno:</td>
                            <td class="uppercase">{{ student.name }} - {{ student.user.id }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="container-table">
                    <table class="table table-bordered table-strip">
                        <thead>
                            <tr>
                                <th>Disciplina</th>
                                <th>Professor</th>
                                <th>Horário</th>
                                <th>Dias</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for class in student.classes.all %}
                            <tr>
                                <td>{{ class.subject }}</td>
                                <td>{{ class.professor.name }}</td>
                                <td>{{ class.start_time }} - {{ class.end_time }}</td>
                                <td>
                                    {% for day in class.days_of_week.all %}
                                    {{ day.get_name_display }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Nenhuma disciplina encontrada.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </section>
        </main>
    </body>
</html>
