<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sistema de Gestão Acadêmica para alunos.">
        <meta name="keywords" content="gestão acadêmica, matrícula, histórico escolar">
        <meta name="author" content="SysCad">
        <title>Grade Curricular</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'student/css/home.css' %}">
    </head>

    <body>
        <header class="header">
            <img src="{% static 'student/images/uece-logo.png' %}" alt="Logo UECE">
            <p>Bem-vindo, {{ student.get_first_name }} </p>
        </header>
    
        <nav class="navigation-bar">
            <ul>
                <li><a href="{% url 'student_home' %}">Home</a></li>
                <li><a href="{% url 'class_enrollment' %}">Realizar Matrícula</a></li>
                <li><a href="{% url 'remove_classes' %}">Trancar Disciplinas</a></li>
                <li><a href="{% url 'student_history' %}">Histórico Escolar</a></li>
                <li><a href="{% url 'curriculum_course' %}">Grade Curricular</a></li>
                <li><a href="{% url 'edit_student' %}">Dados Pessoais</a></li>
            </ul>
        </nav>
    
        <main>
            <section class="enrolled-subjects">
                <h3 class="title">Disciplinas do Curso</h4>
    
                <table id="student-info-table">
                    <tbody>
                        <tr>
                            <td class="bold">Curso:</td>
                            <td class="uppercase">{{ student.course.name }}</td>
                        </tr>
                        <tr>
                            <td class="bold">Aluno:</td>
                            <td class="uppercase">{{ student.name }} - {{ student.user.id }}</td>
                        </tr>
                    </tbody>
                </table>
    
                <div class="container-table">
                    {% if messages %}
                    <div>
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
    
                    <!-- Tabela para exibir as disciplinas associadas ao curso do estudante -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Disciplina</th>
                                <th>Código</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                            <tr>
                                <td>{{ subject.name }}</td>
                                <td>{{ subject.id }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2">Nenhuma disciplina disponível no momento.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </body>
</html>