.card-dashboard {
    display: block; 
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #1c4c79;
    color: #f4f4f4;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box; 
}

.text-card {
    font-size: 25px;
}

.btn-principal {
    color: white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

.att-student {
    display: none;
}

#form-att-student {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f6fcfb;
    background-color: #bcefff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.container-table {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #1a1b1b;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    color: #333;
    text-align: center;
}

.button {
    display: block;
    width: 100%;
    text-align: center;
    background: #007bff;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover {
    background: #0056b3;
    background-color: #c9c2c2;
}

form {
    display: inline-block;
    width: 100%;
}

button {
    width: 100%;
    background-color: #8f1c28;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
}

.message.success {
    color: #0e6121;
}

.message.error {
    color: #9c101e;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.error {
    color: red;
    font-size: 0.875rem;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-update-account {
    display: flex;
    flex-direction: column;
}

.btn-update,
.btn-remove-account {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-update {
    background-color: #007bff;
}

.btn-remove-account{
    background-color: #dc3545;
}

.button-group {
    display: flex;  
    width: 100%;
    background-color: #c6c9cc;
}

.btn {
    flex: 1; /* Faz com que cada botão ocupe uma parte igual da largura disponível */
    display: inline-flex; /* Alinha o texto dentro do botão */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    padding: 1px; /* Espaço interno do botão */
    border: 1px solid transparent; /* Borda padrão invisível, pode ser ajustada */
    border-radius: 5px;
    background-color: #c6c9cc; /* Cor de fundo do botão */
    color: rgb(20, 19, 19); /* Cor do texto */
    text-align: center;
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

.btn:hover {
    background-color: #7691ad; 
    border-color: #95c1f0; 
}

.radio-group {
    display: flex; /* Usa flexbox para disposição horizontal */
    flex-wrap: wrap;
    gap: 10px; /* Espaço entre os botões de rádio */
    align-items: center; /* Alinha os itens verticalmente ao centro */
  }
  
  /* Estilos para cada botão de rádio e rótulo */
  .radio-group label {
    display: flex; /* Usa flexbox para alinhar o botão e o texto horizontalmente */
    align-items: center; /* Alinha o botão e o texto verticalmente ao centro */
    margin: 0; /* Remove a margem padrão do rótulo */
  }
  
  .radio-group input[type="radio"] {
    margin-right: 5px; /* Espaço entre o botão de rádio e o texto */
  }

  h4{
    text-align: left;
    font-size: 1em;
    margin-bottom: 0em;
  }
