{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'student/css/student.css' %}">
{% endblock %}

{% block 'body' %}
<div class="container">
    <form method="POST" class="form-update-account">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Nome completo</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.cellphone.id_for_label }}">Celular</label>
            {{ form.cellphone }}
            {% if form.cellphone.errors %}
                <div class="error">{{ form.cellphone.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Senha</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password_confirm.id_for_label }}">Confirmar Senha</label>
            {{ form.password_confirm }}
            {% if form.password_confirm.errors %}
                <div class="error">{{ form.password_confirm.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.birth_date.id_for_label }}">Data de nascimento</label>
            {{ form.birth_date }}
            {% if form.birth_date.errors %}
                <div class="error">{{ form.birth_date.errors }}</div>
            {% endif %}
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn-update">Atualizar dados</button>
            <a href="{% url 'remove_professor' %}" class="btn-remove-account">Excluir conta</a>
        </div>
    </form>
</div>
{% endblock %}
