<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor</title>
</head>
<body>
    <h1>Professor {{ professor.name }}</h1>

    {% if messages %}
    <div id="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <a href="{% url 'logout' %}">Sair</a> <br>
    <form method="POST" action="{% url 'remove_professor' %}">
        {% csrf_token %}
        <button type="submit"> Excluir conta </button> <br>
    </form>
    <a href="{% url 'edit_professor' %}"> Editar dados pessoais </a> <br>
    
</body>
</html>
