<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sistema de Gestão Acadêmica para alunos.">
        <meta name="keywords" content="gestão acadêmica, matrícula, histórico escolar">
        <meta name="author" content="SysCad">
        <title>Menu Principal - SysCad</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'professor/css/home.css' %}">
    </head>
    <body>
        <!-- Header section -->
        <header class="header">
            <img src="{% static 'professor/images/uece-logo.png' %}" alt="Example Image">

            <p>Bem-vindo, {{ professor.get_first_name }} </p>
        </header>

        <nav class="navigation-bar">
            <ul>
                <li><a href="{% url 'view_current_classes'%}" class="btn">Suas Turmas</a></li>
                <li><a href="{% url 'register_in_class' %}" class="btn">Cadastrar-se em Turma</a></li>
                <li><a href="{% url 'login' %}" class="btn">Sair</a></li>
            </ul>
        </nav>

        <main>
            <section class="enrolled-subjects">

                <h3 class="title">Dados Institucionais</h3>

                <table id="student-info-table">
                    <tbody>
                        <tr>
                            <td class="bold">Professor:</td>
                            <td class="uppercase">{{ professor.get_first_name }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="container-table">
                    <table class="table table-bordered table-strip">
                        <thead>
                            <tr>
                                <th>Matricula</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Idade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ professor.user_id }}</td>
                                <td>{{ professor.name }}</td>
                                <td>{{ professor.email }}</td>
                                <td>{{ professor.get_age }}</td>
                            </tr>
                        </tbody>
                    </table>
            </section>
        </main>
    </body>
</html>