{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
{% endblock %}

{% block 'body' %}
    <form method="post">
        {% csrf_token %}
        <div class="login">
            <hr>
            <div class="logando">
                <h3>Login</h3><hr>
                <div class="form-group">
                    <label for="{{ form.role.id_for_label }}">Tipo</label>
                    <div class="radio-group">
                        {{ form.role }}
                        {% if form.role.errors %}
                            <div class="error">{{ form.role.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Senha</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="error">{{ form.password.errors }}</div>
                    {% endif %}
                </div>
                <button class="botao" type="submit">Entrar</button>
                <p>Não tem conta cadastrada? <button class="botao-sem-borda"><a href="{% url 'register' %}">Cadastre-se</a></button></p>
                <!-- Espaço para mensagens -->
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} ">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock %}

